.catalog {
  margin-top: 49px;
}

.catalog__items {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  padding-bottom: 24px;
  border: 1px solid @grey_ed;
  margin-top: -1px;
}
