.catalog {
  padding-top: 29px;

  @media (min-width: @tablets) {
    padding: 82px 30px 8px;
  }

  @media (min-width: @desktops) {
    padding: 0;
  }
}

.catalog__items {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablets) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktops) {
    justify-content: flex-start;
    width: 1220px;
  }
}

.catalog__item {
  padding: 10px 0 23px;

  @media (min-width: @tablets) {
    width: calc(50% - 30px);
    min-height: 513px;
    margin-bottom: 60px;
    padding: 0;

    &:nth-child(1),
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  @media (min-width: @desktops) {
    width: 245px;
    min-height: 511px;
    margin-top: 60px;
    margin-right: 80px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
