.contacts {
  display: flex;
  padding: 26px 0;
  background-color: @white;
}

.contacts__title {
  margin: 0;
  width: 50%;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @grey_11;
}

.contacts__address {
  width: 50%;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: @grey_44;
}
