.example {
  background-color: @grey_ea;
  position: relative;
  padding: 25px 20px 40px;
  width: 100%;

  &::after {
    @media (min-width: @tablets) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 43%;
      background-color: @grey_ea;
      z-index: 0;
    }

    @media (min-width: @desktops) {
      height: 77%;
    }
  }

  @media (min-width: @tablets) {
    background-color: @white;
    padding: 0;
  }

  @media (min-width: @desktops) {
    display: flex;
    padding: 0;
  }
}

.example__block {
  @media (min-width: @tablets) {
    width: @tablets;
    margin: 0 auto;
  }

  @media (min-width: @desktops) {
    display: flex;
    width: 1220px;
  }
}

.example__layout {
  @media (min-width: @tablets) {
    padding: 43px 30px 73px;
    width: @tablets;
    margin: 0 auto;
  }

  @media (min-width: @desktops) {
    padding: 0;
    width: 660px;
    z-index: 1;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;

  @media (min-width: @tablets) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktops) {
    width: 325px;
    margin-bottom: 76px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablets) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 6px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktops) {
    margin: 0;
    padding: 73px 0 68px;
    width: 436px;
  }
}

.example__stats {
  @media (min-width: @tablets) {
    display: flex;
  }

  @media (min-width: @desktops) {
    flex-direction: column;
    width: 25%;
  }
}

.example__stats-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 8px;

  @media (min-width: @tablets) {
    width: 390px;
  }

  @media (min-width: @desktops) {
    width: 366px;
    margin-bottom: 37px;
  }
}

.example__stats-item {
  width: calc(50% - 16px);
  text-align: center;

  @media (min-width: @tablets) {
    width: calc(50% - 21px);
  }
}

.example__stats-value {
  margin: 0;
  padding: 13px 20px 17px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @black;
  border: 1px solid @grey_cd;
  border-radius: 3px;

  @media (min-width: @tablets) {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 18px;
  }

  @media (min-width: @desktops) {
    width: 162px;
  }
}

.example__stats-description {
  display: inline-block;
  margin: 0 19px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  background-color: @grey_ea;
  transform: translate(-1px, -10px);

  @media (min-width: @tablets) {
    margin-left: 7px;
    margin-right: 7px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
    transform: translateY(-13px);
  }

  @media (min-width: @desktops) {
    margin: 0;
    background-color: @grey_ea;
  }
}

.example__costs-block {
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablets) {
    margin: 0;
    width: 362px;
    padding-top: 11px;
    padding-left: 42px;
    text-align: right;
  }

  @media (min-width: @desktops) {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }
}

.example__costs-description,
.example__costs-value {
  margin: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablets) {
    display: block;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
  }
}

.example__costs-description {
  @media (min-width: @tablets) {
    margin-bottom: 8px;
  }

  @media (min-width: @desktops) {
    margin: 0;
    width: 200px;
    padding-right: 28px;
  }
}

.example__costs-value {
  margin-left: 3px;

  @media (min-width: @desktops) {
    width: calc(50% - 21px);
    text-align: center;
  }
}
