.example {
  background-color: @grey_ea;
  padding: 25px 20px 40px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}

.example__stats-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.example__stats-item {
  width: calc(50% - 16px);
  text-align: center;
  border-radius: 3px;
}

.example__stats-value {
  margin: 0;
  padding: 15px 20px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @black;
  border: 1px solid @grey_cd;
  border-radius: 3px;
}

.example__stats-description {
  display: inline-block;
  margin: 0 25px 0 22px;
  font-size: 12px;
  line-height: 12px;
  transform: translateY(-8px);
}

.example__costs-block {
  text-align: center;
  margin-bottom: 40px;
}

.example__costs-description,
.example__costs-value {
  margin: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @black;
}
