.extra-product__title {
  width: 100%;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @grey_22;

  @media (min-width: @tablets) {
    font-size: 20px;
    line-height: 20px;
    width: 287px;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 3px;
  }

  @media (min-width: @desktops) {
    width: 245px;
    padding-left: 0;
    margin-right: 78px;
  }
}

.extra-product__title-link {
  color: @grey_22;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.extra-product__amount {
  width: 50%;
  margin: 0;

  @media (min-width: @tablets) {
    width: 192px;
    padding-top: 3px;
    text-align: right;
  }

  @media (min-width: @desktops) {
    width: 247px;
    padding: 7px 3px 0 2px;
    text-align: left;
  }
}

.extra-product__price {
  width: 50%;
  text-align: right;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablets) {
    width: 95px;
    padding: 3px 2px 0 30px;
  }

  @media (min-width: @desktops) {
    width: 80px;
    padding: 7px 47px 0 0;
  }
}

.extra-product__button {
  margin-top: 15px;

  @media (min-width: @tablets) {
    margin-top: 21px;
  }

  @media (min-width: @desktops) {
    width: 244px;
    margin-top: 0;
  }
}
