.intro {
  padding-top: 27px;
  text-align: center;
  color: @white;
  background-color: @green_68;
  background-image: linear-gradient(to top, @white 175px, rgba(104, 183, 56, 0.8) 175px), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom 175px;
  box-sizing: border-box;

  @media (min-width: @tablets) {
    position: relative;
    min-height: 840px;
    padding: 62px 0 533px 87px;
    color: @grey_11;
    background: none;
    text-align: inherit;
  }

  @media (min-width: @desktops) {
    min-height: 583px;
    padding: 0;
    padding-left: 80px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   display: block;
    //   top: -222px;
    //   right: -110px;
    //   bottom: 0;
    //   width: 50%;
    //   background-image: linear-gradient(to top, @white 0, rgba(104, 183, 56, 0.8) 0), url("../img/index-background-desktop@1x.jpg");
    //   background-size: 100%;
    //   background-repeat: no-repeat;
    //   background-position: right bottom;
    // }
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablets) {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktops) {
    padding-top: 70px;
  }
}

.intro__description {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablets) {
    margin-bottom: 46px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktops) {
    margin-bottom: 49px;
  }
}

.intro__img {
  position: relative;
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablets) {
    position: absolute;
    left: 6%;
    bottom: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktops) {
    bottom: 96px;
    width: 552px;
    height: 499px;
    left: 40%;
    z-index: 0;
  }
}

.intro__link {
  margin-top: 3px;
  display: inline-block;
  width: 280px;
  padding: 11px 44px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @green_68;
  color: @white;

  @media (min-width: @tablets) {
    width: 244px;
    padding: 17px 27px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktops) {
    width: auto;
    margin-left: 0;
  }
}
