.intro {
  position: relative;
  padding-top: 27px;
  text-align: center;
  color: @white;
  box-sizing: border-box;

  @media (min-width: @tablets) {
    min-height: 840px;
    padding: 62px 0 533px 87px;
    color: @grey_11;
    text-align: inherit;
    width: @tablets;
    margin: 0 auto;
  }

  @media (min-width: @desktops) {
    min-height: 583px;
    padding: 0;
    min-width: 100%;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-color: @green_68;
    width: 100%;
    height: 302px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -2;

    @media (min-width: @tablets) {
      display: none;
    }

    @media (min-width: @desktops) {
      display: block;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: cover;
      width: 50%;
      height: 694px;
      top: -112px;
      left: 50%;
    }

    @media (min-resolution: @retina-dppx) {
      @media (min-width: @phones) {
        background-image: url("../img/index-background-mobile@2x.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      @media (min-width: @desktops) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-position: right bottom;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    top: 0;
    left: 0;
    background-color: rgba(104, 183, 56, 0.7);
    z-index: -1;

    @media (min-width: @tablets) {
      display: none;
    }

    @media (min-width: @desktops) {
      display: block;
      width: 50%;
      height: 694px;
      top: -112px;
      left: 50%;
      z-index: 0;
    }
  }
}

.intro__container {
  padding: 0 20px;

  @media (min-width: @tablets) {
    padding: 0 30px;
  }

  @media (min-width: @desktops) {
    width: 1100px;
    margin: 0 auto;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablets) {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktops) {
    padding-top: 114px;
  }
}

.intro__description {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablets) {
    margin-bottom: 46px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktops) {
    margin-bottom: 49px;
  }
}

.intro__img {
  position: relative;
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  @media (min-width: @tablets) {
    position: absolute;
    left: 50%;
    margin-left: -360px;
    bottom: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: @desktops) {
    width: 552px;
    height: 499px;
    top: 32px;
    left: 50%;
    margin-left: -163px;
    bottom: 96px;
    z-index: 1;
  }
}

.intro__link {
  margin-top: 3px;
  display: inline-block;
  width: 100%;
  padding: 11px 22px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @green_68;
  color: @white;

  @media (min-width: @tablets) {
    width: 244px;
    padding: 17px 27px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktops) {
    margin-left: 0;
  }
}
