.main-header {
  display: flex;
  flex-direction: column;
  background-color: @white;

  @media (min-width: @tablets) {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 30px 0 30px;
  }

  @media (min-width: @desktops) {
    padding: 53px 110px 0 110px;
    justify-content: space-around;
  }
}

.main-header__logo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 54px 17px 20px;

  @media (min-width: @tablets) {
    flex-shrink: 0;
    width: 174px;
    height: 52px;
    padding: 0;
  }

  @media (min-width: @desktops) {
    width: 202px;
    min-height: 59px;
  }
}

.main-header__logo:hover,
.main-header__logo:focus {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

.main-header__logo-link {
  padding: 1px 0 6px;
}

.main-header__logo-sign-link {
  margin-left: auto;
  margin-right: auto;
  padding: 14px 0 13px;
}
