.program-form {
  margin-top: 17px;
  padding-bottom: 32px;

  @media (min-width: @tablets) {
    margin: 0;
    padding: 24px 70px 72px;
  }

  @media (min-width: @desktops) {
    padding: 0;
    padding-bottom: 82px;
  }
}

.program-form__text {
  margin: 0 0 19px 20px;
  max-width: 323px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablets) {
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktops) {
    margin: 56px 0 66px;
  }
}

.program-form__block {
  position: relative;

  &--cat {
    @media (min-width: @tablets) {
      width: 100%;
      padding: 0;
    }

    @media (min-width: @desktops) {
      margin: 0;
      width: calc(50% - 40px);
    }
  }

  &--program {
    position: relative;
    margin-bottom: 6px;
    padding: 20px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid @grey_ed;
    }

    @media (min-width: @tablets) {
      width: 100%;
      margin-top: 72px;
      margin-bottom: 0;
      padding: 25px 28px;
    }

    @media (min-width: @desktops) {
      margin: 0;
      width: calc(50% - 40px);
    }
  }

  &--contacts {
    margin-bottom: 3px;

    @media (min-width: @tablets) {
      margin-top: 71px;
      padding: 0;
    }
  }

  &--comment {
    padding-top: 0;
    margin-bottom: 3px;

    &::before {
      border: none;
    }

    @media (min-width: @tablets) {
      padding: 0;
      margin-top: 66px;
    }
  }

  &--extra {
    padding-top: 0;

    @media (min-width: @tablets) {
      padding: 0;
      margin-top: 66px;
    }
  }
}

.program-form__subtitle {
  margin-bottom: 35px;

  @media (min-width: @tablets) {
    padding: 0 20px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktops) {
    padding: 0 40px;
  }
}

.program-form__block--extra .program-form__subtitle {
  @media (min-width: @tablets) {
    margin-bottom: 57px;
  }
}

.program-form__block-layout {
  @media (min-width: @tablets) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktops) {
    max-width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.program-form__block--extra .program-form__field-wrapper {
  @media (min-width: @desktops) {
    margin-right: 80px;
    width: 245px;
  }
}

.program-form__field-wrapper {
  display: flex;
  align-items: center;

  &--checkbox {
    @media (min-width: @tablets) {
      width: calc(50% - 30px);
      margin-bottom: 32px;
    }

    @media (min-width: @desktops) {
      width: auto;
      margin-bottom: 0;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.program-form__label {
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @grey_22;
}

.program-form__text-input,
.program-form__text-input--email,
.program-form__text-input--tel {
  width: 100%;
  height: 45px;
  padding: 13px 15px 12px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @grey_22;
  background-color: @white;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &::placeholder {
    color: @grey_44;
  }
}

.program-form__text-input--email,
.program-form__text-input--tel {
  position: relative;
  padding-right: 47px;
}

.program-form__icon {
  position: absolute;

  &--email {
    right: 33px;

    @media (min-width: @tablets) {
      right: 20px;
    }

    @media (min-width: @desktops) {
      left: 532px;
    }
  }

  &--phone {
    right: 30px;

    @media (min-width: @tablets) {
      right: 16px;
    }
  }
}

.program-form__field-wrapper--email,
.program-form__field-wrapper--phone {
  @media (min-width: @tablets) {
    width: 100%;
  }

  @media (min-width: @desktops) {
    width: calc(50% - 40px);
  }
}

.program-form__field-wrapper + .program-form__field-wrapper {
  margin-top: 13px;

  @media (min-width: @tablets) {
    margin-top: 20px;
  }

  &--checkbox {
    @media (min-width: @desktops) {
      margin-top: 0;
    }
  }

  &--phone {
    @media (min-width: @desktops) {
      margin-top: 0;
    }
  }
}

.program-form__title {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  color: @grey_11;
  background-color: @white;

  @media (min-width: @tablets) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.program-form__title-comment {
  display: block;

  @media (min-width: @tablets) {
    display: inline;
  }
}

.program-form__block--program .program-form__label {
  position: relative;
  display: block;
  padding: 5px 0 7px 46px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @grey_22;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 8px;
    border: 1px solid @grey_cd;
    border-radius: 50%;
  }
}

.program-form__radio:checked ~ .program-form__label::before {
  background-color: @green_68;
  background-clip: content-box;
}

.program-form__radio:focus ~ .program-form__label::before,
.program-form__radio:not(:disabled) ~ .program-form__label:hover::before {
  border-color: @silver_ba;
}

.program-form__radio:disabled ~ .program-form__label {
  opacity: 0.3;
}

.program-form__textarea {
  width: 100%;
  height: 150px;
  padding: 9px 12px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @grey_22;
  background-color: @white;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &::placeholder {
    color: @grey_44;
  }

  @media (min-width: @desktops) {
    width: 1300px;
    margin: 0 auto;
  }
}

.program-form__block--extra::before {
  border: none;
}

.program-form__block--extra .program-form__label {
  position: relative;
  display: block;
  padding: 5px 0 7px 46px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @grey_22;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 6px 3px 6px 4px;
    border: 1px solid @grey_cd;
  }
}

.program-form__checkbox:checked ~ .program-form__label::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-clip: content-box;
}

.program-form__checkbox:focus ~ .program-form__label::before,
.program-form__checkbox:not(:disabled) ~ .program-form__label:hover::before {
  border-color: @silver_ba;
}

.program-form__checkbox:disabled ~ .program-form__label {
  opacity: 0.3;
}

.program-form__submit {
  padding: 0 20px;
  margin-top: 14px;

  @media (min-width: @tablets) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
    padding: 0;
  }

  @media (min-width: @desktops) {
    max-width: 1300px;
    margin: 61px auto 0;
    padding: 0 40px;
  }
}

.program-form__submit-button {
  @media (min-width: @tablets) {
    width: calc(50% - 30px);
    font-size: 20px;
    padding: 16px 44px;
  }

  @media (min-width: @desktops) {
    width: 568px;
  }
}

.program-form__caption {
  margin: 0;
  display: block;
  margin-top: 21px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: @black;

  @media (min-width: @tablets) {
    width: calc(50% - 30px);
    margin-top: 0;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }

  @media (min-width: @desktops) {
    width: calc(50% - 43px);
  }
}
