.promo {
  margin-top: 35px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  min-height: 289px;
  margin-left: auto;
  margin-right: auto;
  padding: 59px 59px 43px;
  text-decoration: none;
  text-align: center;
  color: @white;
  background-color: @green_68;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 290px;
    top: 0;
    left: 0;
    background: rgba(104, 183, 56, 0.7);
    z-index: -1;
  }

  @media (min-width: @tablets) {
    width: auto;
    margin: 0 30px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
    padding: 57px 120px 60px 76px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;

    &::before {
      padding-bottom: 10px;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktops) {
    margin: 0;
    margin-right: 40px;
    flex-direction: column;
    padding: 0 40px;
    height: 289px;
    justify-content: center;
    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    &::before {
      content: "";
      flex-shrink: 0;
      display: block;
      position: absolute;
      top: 56px;
      left: 84px;
      width: 80px;
      height: 82px;
      margin: 0 auto;
      padding-bottom: 0;
    }
  }
}

.promo__link {
  display: block;
  text-decoration: none;
  color: @white;

  @media (min-width: @tablets) {
    width: 165px;
    margin-left: auto;
    padding-top: 7px;
  }
}

.promo__title {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: @tablets) {
    margin-top: 0;
  }

  @media (min-width: @desktops) {
    margin-top: 143px;
  }
}
