.social__items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 43px;
  list-style: none;
}

.social__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;
}

.social__item-icon {
  fill: @grey_66;
}

.social__item-icon:hover,
.social__item-icon:focus {
  fill: @green_68;
}

.social__item-icon:active {
  fill-opacity: 0.3;
}
