.subtitle {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  color: @grey_11;
  background-color: @white;

  @media (min-width: @tablets) {
    margin-left: 30px;
    padding: 0 37px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktops) {
    margin-left: 50%;
    transform: translateX(-650px);
    padding: 0 40px;
  }
}
