.title {
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  color: @black;

  @media (min-width: @tablets) {
    font-size: 60px;
    line-height: 60px;
    padding: 65px 70px 30px 0;
    max-width: @tablets;
    margin: 0 auto;
  }

  @media (min-width: @desktops) {
    padding: 74px 110px 84px;
    max-width: @desktops;
    margin: 0 auto;
  }
}


.title + .catalog {
  @media (min-width: @tablets) {
    margin-top: 68px;
  }
}


.title-container {
  @media (min-width: @tablets) {
    padding-left: 70px;
    width: auto;
    margin: 0;
  }

  @media (min-width: @desktops) {
    padding-left: 110px;
    padding-bottom: 56px;
    max-width: @desktops;
    margin: 0 auto;
  }
}
