.toggle {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
  overflow: hidden;
}


.toggle__before,
.toggle__after {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.toggle__before {
  z-index: 1;
}

.toggle__after {
  width: 50%;
  z-index: 2;
}

.toggle__img {
  width: 100%;
}
